
.img-background img{
    width: clamp(200px, 300px, 400px);
    height: clamp(190px, 200px, 250px);
    width: 100%;
}

.article-preview-footer__visible picture img{
    width: clamp(40px, 50px, 70px);
    border-radius: 100vmax;
    cursor: pointer;
}

.article-preview-footer__visible picture img:hover{
    transform: rotateY(180deg);
}

/* ==================== Media Queries : 1440px ===================== */
@media (min-width: 768px) {
    .img-background img{
        width: 350px;
        height: 300px;
    }
}